<h3>XXXX</h3>

<% @savings.each do |savings| %>
  <li> <%= savings.item %></li>
  <li> <%= savings.price %></li>
  <li> <%= savings.amount_saved %></li>
  <li> <%= savings.priority_level %></li>
<% end %>