<h1>Create A New Savings Account</h1>
<br>
<br>
<div>
<form method ="post" action ="/savings">
    <label>Item:</label>
    <input type ="text" id="item" name="item" required>
    <label>Price:</label>
    <input type ="text" id="price" name="price" required>
    <label>Amount Saved:</label>
    <input type ="text" id="amount_saved" name="amount_saved" required>
    <label>Priority:</label>
    <select name="priority_level" required>
      <option value=""></option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
    <input type ="submit" class="myButton" value="Create">
</form>
</div>

<%-# WANT TO ADD CANCEL BUTTON NEXT TO 'CREATE' WHICH ROUTES BACK TO /SAVINGS -%>
