<h1>Create A New Savings Account</h1>
<br>
<br>
<form method ="post" action ="/savings">
    <label>Item:</label>
    <input type ="text" id="item" name="item">
    <label>Price:</label>
    <input type ="text" id="price" name="price">
    <label>Amount Saved:</label>
    <input type ="text" id="amount_saved" name="amount_saved">
    <label>Priority:</label>
    <select name="priority_level">
      <option value=""></option>
      <option value="low">Low</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
    <input type ="submit" value="Create">
</form>
