<p><a href="/"><img src="images/isave_logo.png" alt="iSave Logo"></a><h1>Signup</h1></p>

  <form method="post" action="/signup">
    <label>First name <input type="text" name="name" placeholder=""></label>
    <label>Email <input type="text" name="email" placeholder=""></label>
    <label>Password <input type="password" name="password" placeholder=""></label>
    <input type="submit" class="myButton" value="Signup">
    <br>
    <br>
    <p><font size="1">Already have an account? You can <a href="/login">login here.</a></p>
  </form>