  <h2>iSave Signup</h2>

  <form method="post" action="/signup">
    <label>Email: <input type="text" name="email" placeholder="Your Email"></label>
    <label>Password: <input type="text" name="password" placeholder="Your Password"></label>
    <input type="submit" value="Signup">
    <br>
    <br>
    <p>Already have an account? You can <a href="/login">login here.</a></p>
  </form>