<p><h1>iSave</h1>

<% if logged_in? %>
  <a href="/logout"><button type="button" class="myButton" style="float:right;">Logout</button></a>
  <a href="/savings"><button type="button" class="myButton" style="float:right;">
  <%= current_user.name %>
  </button></a></p>
<% end %>

<br>
<center>
    <div style="">
    <h3 style="color: darkblue; font-size: 28px; font-family: verdana;">
      Save For Anything
      <br>
      ----- 
      <br>
      Spend Confidently</style></h3>
    </div>
  </center>

<br>
<h3>A money savings application built with Ruby and Sinatra. It's the app that makes it easy to save up for the things that matter most to you - while making your goals attainable.
Create an unlimited number of savings accounts, each with their goals and priority levels.</h3>
<br>
<br>
<p><a href="/login">Login</a> or <a href="/signup">Sign Up</a> to get started.</p>