<p><h1>iSave</h1>

<% if logged_in? %>
  <a href="/logout"><button type="button" class="myButton" style="float:right;">Logout</button></a>
  <a href="/savings"><button type="button" class="myButton" style="float:right;">
  <%= current_user.name %>
  </button></a></p>
<% end %>

<br>
<p>This is a money savings application built with Ruby and Sinatra.</p>
<br>
<br>
<p><a href="/login">Login</a> or <a href="/signup">Sign Up</a> to get started.</p>