<h1>Welcome to iSave</h1>
<br>
<p>This is a money savings application built with Ruby, Sinatra, and Bootstrap.</p>
<br>
<br>
<p><a href="/login">Login</a> or <a href="/signup">Sign Up</a> to get started.</p>