<p><img src="images/isave_logo.png" alt="iSave Logo" style="width:100px;height:100px;"><h1>iSave</h1></p>
<br>
<p>This is a money savings application built with Ruby and Sinatra.</p>
<br>
<br>
<p><a href="/login">Login</a> or <a href="/signup">Sign Up</a> to get started.</p>